* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-dragons {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.2rem;
}

.a-dragon {
  display: flex;
  gap: 1.2rem;
}

.dragons-img {
  width: 400px;
  height: 300px;
}

.res-badge {
  padding: 5px 2px;
  margin: 3px;
  background-color: chartreuse;
  color: blueviolet;
  border-radius: 8px;
  text-align: center;
}

@media screen and (max-width: 880px) {
  .a-dragon {
    flex-direction: column;
  }

  .dragons-img {
    width: 100%;
  }
}
